* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../src/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  height: 100vh;
}

.navbar {
  text-align: center;
  padding: 20px;
}

.search {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  width: 15rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
